.card-payment {
    height: 476px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
h3 {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 28px;
	text-align: center;
}
ol, ul {
    list-style: outside none none;
}
ul, h4{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
form {
    float: none;
}
form, #orderInfo {
    background-color: #f9f9f7;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    left: 0;
    margin: 0 auto;
    padding: 10px 10px;
    width: 90%;
}
form li {
    margin: 8px 0;
}
form label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
form #card_number {
    background-image: url("images.png"), url("images.png");
    background-position: 2px -121px, 260px -61px;
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 54px;
    width: 225px;
}
form input, form select {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: content-box;
    color: #333;
    display: block;
    font-size: 18px;
    height: 32px;
    padding: 0 5px;
    width: 275px;
	outline: none;
}
form select {
	width:auto;
}
form input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.payment-btn {
    width: 100%;
    height: 34px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #005fb3;
    background: #0092d1;
    border-radius: 4px;
}
.payment-btn:disabled{opacity: 0.2;}
form li .help {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
}
.vertical {
    overflow: hidden;
}
.vertical li {
    float: left;
    width: 95px;
}
.vertical input {
    width: 68px;
}
.list {
    color: #767670;
    font-size: 16px;
    list-style: outside none disc;
    margin-bottom: 28px;
    margin-left: 25px;
}
.card-payment .numbers {
    background-color: #fff;
    border: 1px solid #bbc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
    padding: 14px 20px;
    z-index: 10;
}
.card-payment .numbers p {
    margin-bottom: 0;
        margin-top: 0;
}
.card-payment .numbers .list {
    margin-bottom: 0;
    margin-left: 0px;
}
.required{border: 1px solid #EA4335;}
#orderInfo p span{color: #FB4314;}