
* {
	-webkit-font-smoothing: antialiased;
}
body {
	Margin: 0;
	padding: 0;
	min-width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	mso-line-height-rule: exactly;
}
table {
	border-spacing: 0;
	color: #333333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
img {
	border: 0;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.webkit {
	max-width: 800px;
}
.outer {
	Margin: 0 auto;
	width: 100%;
	max-width: 800px;
}
.full-width-image img {
	width: 100%;
	max-width: 800px;
	height: auto;
}
.inner {
	padding: 10px;
}
p {
	Margin: 0;
	padding-bottom: 10px;
}
.h1 {
	font-size: 21px;
	font-weight: bold;
	Margin-top: 15px;
	Margin-bottom: 5px;
	
	-webkit-font-smoothing: antialiased;
}
.h2 {
	font-size: 18px;
	font-weight: bold;
	Margin-top: 10px;
	Margin-bottom: 5px;
	
	-webkit-font-smoothing: antialiased;
}
.one-column .contents {
	text-align: left;
	
	-webkit-font-smoothing: antialiased;
}
.one-column p {
	font-size: 14px;
	Margin-bottom: 10px;
	
	-webkit-font-smoothing: antialiased;
}
.two-column {
	text-align: center;
	font-size: 0;
}
.two-column .column {
	width: 100%;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
}
.contents {
	width: 100%;
}
.two-column .contents {
	font-size: 14px;
	text-align: left;
}
.two-column img {
	width: 100%;
	max-width: 280px;
	height: auto;
}
.two-column .text {
	padding-top: 10px;
}
.three-column {
	text-align: center;
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.three-column .column {
	width: 100%;
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
}
.three-column .contents {
	font-size: 14px;
	text-align: center;
}
.three-column img {
	width: 100%;
	max-width: 180px;
	height: auto;
}
.three-column .text {
	padding-top: 10px;
}
.img-align-vertical img {
	display: inline-block;
	vertical-align: middle;
}
@media only screen and (max-device-width: 480px) {
table[class=hide], img[class=hide], td[class=hide] {
	display: none !important;
}
.contents1 {
	width: 100%;
}
.contents1 {
	width: 100%;
}
.driver-details .col-4{
width:100%!important;
margin-bottom:25px;
}
.driver-details .col-8{
width:100% !important;
}
}


.logo-wrap{
 border-radius:50%;
 background:#fff;
 padding:10px;
 text-align:center;
 line-height:80px;
 width: 80px;
 height: 80px;
 position: relative;
 display:inline-block;
 -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	-moz-box-shadow: 0 3px 6px -3px #797979;
	-ms-box-shadow: 0 3px 6px -3px #797979;
	-webkit-box-shadow: 0 3px 6px -3px #797979;
	box-shadow: 0 3px 6px -3px #797979;
}
.logo-wrap img{
    max-width: 70px;
    max-height: 50px;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}	
.location-wrap{
padding-left:30px;
position:relative;
}
.location-wrap img{
position:absolute;
top:3px;
left:5px;
}
.driver-profile-wrap{
background:#fff;
padding:10px;
display:inline-block;
border-radius:50%;
}
.driver-details{
padding:10px 30px 20px;
}
.driver-details .col-4{
width:30%;
display:inline-block;
float:left;
text-align:center;
}
.driver-details .col-8{
width:70%;
display:inline-block;
float:left;
}
.col-3{
  width: 33.333%;
  display: inline-block;
  float:left;
}
