ul.tsc_pagination { 
	margin:4px 0; 
	padding:0px; 
	height:100%; 
	overflow:hidden; 
	font:12px 'Tahoma'; 
	list-style-type:none; 
	float:right; 
}
ul.tsc_pagination li { 
	float:left; 
	margin:0px; 
	padding:0px; 
	margin-left:5px; 
}
ul.tsc_pagination li a { 
	color:black; 
	display:block; 
	text-decoration:none; 
	padding:7px 10px 7px 10px; 
}
ul.tsc_paginationA li a { 
	color:#FFFFFF; 
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
}
ul.tsc_paginationA01 li a { 
	color:#474747; 
	border:solid 1px #B6B6B6; 
	padding:6px 9px 6px 9px; 
	background:#E6E6E6; 
	background:-moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6); 
	background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6)); 
}
ul.tsc_paginationA01 li:hover a,ul.tsc_paginationA01 li.current a { 
	background:#A7A9AC; 
}

.rowers_paddings
{
	padding: 0px 15px 0px 15px;
}

.add_route_side_bar
{
	min-height: 520px !important;
	background: white;
	float: right !important;
}

.year_container
{
	padding: 1px;
    margin: 30px;
    background: white;
}

.weekdays_box
{
     margin-bottom: 4px;
    color: orangered;
}

.sticky_div {
    position: sticky !important;
 }

.map_pathscroller
{
	    height: 159px;
	overflow-y:scroll; 
	    font-size: 11px;
	    overflow-x: hidden;    
	    padding-right:20px;
}

.margin_lefter{
	margin-left:8px; 
}
.margin_map_page_top
{
	margin-top: 6px;
}

.margine_toppsss
{
	margin-bottom: 17px;
}

.select_props
{
	font-size: 11px;padding:5px;width: 100%;
}


.widget_content
{
	overflow: unset !important;
}