
      #right-panel {
       
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        min-height: 450px;
       
        width: 100%;
        
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #4f5973;
        padding: 10px;
        overflow: scroll;
        height: 174px;
		    color: white;
      }
   .map_points_selector
   {
   text-align:center;
   
   }
   .select_ul_route
   {
      width: 100%;
    float: left;
    padding: 20px;
    margin-right: 0;
    background: #fff !important;
    border-top: #e84c3d solid 3px !important;
   
    border-radius: 3px;
	
	}
	
.btn_green
{
	background-color: #1dde58;
	border-color: #09d63f;
	border-radius: 3px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857 !important;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	height: auto;
	text-shadow: none;

}


.map_route_point_selection
{
  background: #fff !important;
  padding: 20px;
}

.span_important
{
  color: red;
  font-weight: bold;
  margin-left: 5px;
}


.map_route_font
{
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

.map_route_name_input
{
  width:400px;    
}

.map_route_point_select
{
  float:left;
  margin-top: 5px !important;
  width:110px;
  font-size: 13px;
}


.map_route_name_input_multiple
{
  width:49.8%;
  float:left;
  margin-bottom: 2px;
  margin-top: 2px;
}

.map_route_name_input_multiple_1
{
  width:49.8%;
  float:right;
  margin-bottom: 2px;
  margin-top: 2px;
}

.add_route_btn_align
{
  margin-left: 41%;
  margin-top: 6px;
}

.map_search
{
  float: none !important;
  text-align: center !important;
  background-color: white;
}








