/*=== THEME DEFAULT ===*/
body#theme-default {
	background:#ffffff;
	font-family: 'OpenSansRegular';
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans.woff') format('woff'),
         url('../fonts/OpenSans.ttf') format('truetype'),
         url('../fonts/OpenSans.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.round {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.round_top {
	border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-topleft:3px;
	border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius-topright:3px;
}
.round_bottom {
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomleft:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottomright:3px;
}
.round_left {
	border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-topleft:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomleft:3px;
}
.round_right {
	border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius-topright:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottomright:3px;
}
/*=== LAYOUT SPRITE ===*/
 #theme-default .top_search, #theme-default .page_title, #theme-default .primary_active, #theme-default #primary_nav li a, #theme-default #secondary_nav ul li a, #theme-default .widget_top {
	background:#373737;
}
#theme-default #container {
	background:#ffffff;
	border-left:#aeaeaf 1px solid;
	-moz-box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0 0 2px #ccc;
}
#theme-default .top_search {
	background-position: 0 -60px;
	border-bottom:#c6c6c6 1px solid;
/*	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px#999;
	box-shadow: 0 0 3px #999;
*/}
#theme-default #primary_nav {
	
	border-right:#0e4169 1px solid;
}
#theme-default #primary_nav ul{ border-bottom:#01132a 1px solid;}
#theme-default #primary_nav li a {
	background-position:0 -109px;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#theme-default #primary_nav li a:hover {
	background-position:0 -179px;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#theme-default #secondary_nav ul li a {
	background-position:0 -251px;
	border-top:#fff 1px solid;
	font-size:11px !important;
	border-bottom:#fff 1px solid;
	color:#FFF;/*	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
*/}
#theme-default .acitem li a {
	background:#2c2c2c ;
	border:none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}
#theme-default .acitem li a:hover, #theme-default .acitem li a.active {
	background:#f9f9f9 !important;
}
#theme-default #secondary_nav ul li a:hover, #theme-default #secondary_nav ul li a.active {
	color:#FFF;
	font-size:12px;
	background:#BE3B0A !important;
}
#theme-default .page_title {
	background:#2C2C2C;
	border-bottom:#c6c6c6 1px solid;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px#ccc;
	box-shadow: 0 0 5px #ccc;
}
#theme-default .primary_active {
	background: url(../images/indicator.png) no-repeat left;
}
/*=== NOTIFICATIONS ICONS ===*/
#theme-default .alert, #theme-default .inbox > a, #theme-default .logout > a, #theme-default .user_thumb {
	position:relative;
}
#theme-default .alert:hover, #theme-default .inbox > a:hover, #theme-default .logout >a:hover,#theme-default .user_thumb:hover{ background:none;}
.logout a {
	text-indent:-999999px;
}
.tipBot .icon:hover{background:#373737  url(../images/logout.png) no-repeat center center !important; }
#theme-default .alert .icon{ background:#c0d6e1  url(../images/sprite-icons/layout-icons.png) no-repeat 0 0; display:block; position:absolute; top:3px; left:3px; border:#9bd0ea 1px solid;}
#theme-default .inbox a .icon{background:#c0d6e1  url(../images/sprite-icons/layout-icons.png) no-repeat 0 -30px; display:block; position:absolute; top:3px; left:3px; border:#9bd0ea 1px solid;}
#theme-default .logout a .icon{background:#f2f2f2  url(../images/logout.png) no-repeat center center;  display:block; position:absolute; top:2px; left:3px; border:#bb5514 2px solid;}
  #theme-default .user_thumb .icon{  display:block; position:absolute; top:3px; left:3px;  text-align:center;}



#theme-default #primary_nav .icon_block, #theme-default .search_btn{
	background:url(../images/sprite-icons/layout-icons.png) no-repeat;
}
#theme-default .nav_icon, #theme-default .p_dashboard{
	background:url(../images/sprite-icons/icon-black.png) no-repeat;}

#theme-default .widget_wrap {
	background:#FFF;
	border:#e1e1e1 1px solid;
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px #ddd;
	box-shadow: 0 0 2px #ddd;
	border-bottom-left-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/*
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomleft:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottomright:3px;*/
	/* margin-top:20px; */
}
#theme-default .widget_top {
    height: auto;
    border-bottom: #e1e1e1 1px solid;
    background: #424242;
    position: relative;
    float: left;
    width: 100%;
}





@media screen and (max-width:767px) {

#theme-default .acitem li a {
    background: transparent;
}

.chzn-container-single .chzn-single {
    margin-left: 1%;
}


}

